@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200:     Tablet landscape
[1200 - 1800px] is where our normal style apply
1800px:         Big desktops 

Breakpoints argument choices
- phone
- tablet-port
- tablet-land
- big-desktops
*/

//1em = 16px
@mixin applyFor($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tablet-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tablet-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktops {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
